@model IEnumerable<LMS_DEPI.Entities.Models.Lesson>

<h1>Course : @ViewBag.CourseName</h1>
<h4>Lessons</h4>
<table class="table">
    <thead>
        <tr>
            <th>Lesson Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Resources</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model)
        {
            <tr>
                <td>@lesson.Title</td>
                <td>@lesson.Description</td>
                <td>@lesson.DueDate.ToString("MM/dd/yyyy")</td>
                <td>
                    @lesson.FilePath
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Teacher"))
{
    <a asp-controller="Lessons" asp-action="Create" asp-route-courseId="@ViewBag.CourseId" class="btn btn-primary">
        Add New Lesson
    </a>
}
