@model IEnumerable<LMS_DEPI.Entities.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Enroll</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EndDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">UnEnroll</a> |
                    <a asp-controller="CourseResources" asp-action="Index" asp-route-courseId="@item.Id">Resources</a>

                </td>
            </tr>
        }
    </tbody>
</table>