@model LMS_DEPI.Entities.Models.Enrollment

@{
    ViewBag.Title = "Enrollment Details";
}

<div class="container">
    <h2 class="mb-4">Enrollment Details</h2>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Enrollment</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Course.Title)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Course.Title)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Student.Name)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Student.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EnrolledAt)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EnrolledAt)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CompletedAt)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CompletedAt)
                </dd>

            </dl>
        </div>
        <div class="card-footer">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" }) |
             
                <a class="btn btn-sm btn-secondary" href="/Enrollment/Index">Back to List</a>

            </p>
        </div>
    </div>
</div>